/*My Styles*/

#stageWrap {
	width: 1000px;
	margin: 0px auto;
}
#stage {
	background-color: #29abe2;
	width: 1000px;
	height: 500px;
	/*margin: 0px auto;*/
	position: absolute;left:0px;
	overflow: hidden;
}
#text {
	position: absolute;
	top: 50px;
	width: 400px;
	height: 200px;
	background: url("../images/imgs_id290.svg") no-repeat;
}
#backclouds {
	position: absolute;
	top: 0px;
	left: 400px;
	width: 1300px;
	height: 250px;
	background: url("../images/imgs_backclouds.svg") no-repeat;
}
#middleclouds {
	position: absolute;
	top: 100px;
	left: -40px;
	width: 1300px;
	height: 250px;
	background: url("../images/imgs_middleclouds.svg") no-repeat;
}
#frontclouds {
	position: absolute;
	top: 200px;
	left: -70px;
	width: 1500px;
	height: 600px;
	background: url("../images/imgs_frontclouds.svg") no-repeat;
}